<head>
	<%= include head %>
	<title><%= title %></title>
	<style type="text/css">
		div {
 		   padding-bottom: 20px;
		}
	</style>
</head>
<body>
	 <div class="container">
            <div class="page-header">
                <h1 id="timeline" style="text-align:center;">Incoming News Feed</h1>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge info"><i class="fa fa-unlock"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">User Logged in</h4>                            
                            <span><i class="fa fa-clock-o fa-2x"></i> 1 hour 20 minutes ago</span>
                            <hr />
                        </div>
                        <div class="timeline-body">
                            <p>Kimo Logged In
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge success"><i class="fa fa-search"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">User Content Search</h4>
                            <span><i class="fa fa-clock-o fa-2x"></i> 57 minutes ago</span>
                            <hr />
                        </div>
                        <div class="timeline-body">
                             <p>User Searched For something
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="fa fa-shopping-cart"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">New users Added</h4>
                            <span><i class="fa fa-clock-o fa-2x"></i> 37 minutes ago</span>
                            <hr />
                        </div>
                        <div class="timeline-body">
                             <p>New Users added to system
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                   <div class="timeline-badge info"><i class="fa fa-dollar"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Voting In progess</h4>
                            <span><i class="fa fa-clock-o fa-2x"></i> 27 minutes ago</span>
                            <hr />
                        </div>
                        <div class="timeline-body">
                             <p>People are voting
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge info"><i class="fa fa-share"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">User logged out</h4>
                            <span><i class="fa fa-clock-o fa-2x"></i> 10 minutes ago</span>
                            <hr />
                        </div>
                        <div class="timeline-body">
                             <p>User logged Out
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
</body>