
.hiddenStepInfo {
    display: none;
}

.activeStepInfo {
    display: block !important;
}

.underline {
    text-decoration: underline;
}

.step {
    margin-top: 27px;
}

.progress {
    position: relative;
    height: 25px;
}

.progress > .progress-type {
    position: absolute;
    left: 0px;
    font-weight: 800;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}

.progress > .progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}

.step {
    text-align: center;
}

.step .col-lg-3 {
    background-color: #204348;
    border: 1px solid #C0C0C0;
    border-right: none;
    border-radius: 5px;
}

.step .col-lg-3:last-child {
    border: 1px solid #C0C0C0;
}

.step .col-lg-3:first-child {
    border-radius: 5px;
}

.step .col-lg-3:last-child {
    border-radius:5px;
}

.step .col-lg-3:hover {
    color: #F58723;
    cursor: pointer;
}

.step .activestep:hover {
    color: #006442;
    cursor: pointer;
}

.step .activestep {
    background-color: #F5D76E;
    color: #204348;
    height: 100px;
    margin-top: -7px;
    padding-top: 7px;
    border: 1px solid white;
    border-radius: 5px;
    vertical-align: central;
}

.step .fa {
    padding-top: 15px;
    font-size: 40px;
}
