<div class="list-group myoptions">
	<a class="list-group-item" href="/u">Home Page</a>
	<a class="list-group-item" href="/ru">Register User</a>
	<a class="list-group-item" href="/rv">Register Voters</a>
	<a class="list-group-item" href="/rc">Register Candidates</a>
	<a class="list-group-item" href="/du">View Users<span class="badge pull-right"><%= userCount  %></span></a>
	<a class="list-group-item" href="/dv">View Voters<span class="badge pull-right"><%= voterCount %></span></a>
	<a class="list-group-item" href="/dc">View Candidates<span class="badge pull-right"><%= candCount %></span></a>
	<a class="list-group-item" href="/ds">View Vote Statistics</a>
	<!--<a class="list-group-item" href="#">View Votes</a>-->
</div>