<div class="list-group myoptionsv">
	<a class="list-group-item" href="/v">Home Page</a>
	<a class="list-group-item" href="/vote">Cast vote</a>
	<a class="list-group-item" href="/choices">My Choices</a>
	<!--<a class="list-group-item" href="/vr">View Current Results</a> -->
	<a class="list-group-item" href="../news">News Feed</a>
</div>